@font-face {
	font-family: 'Ansungtangmyun-Bold';
	src:url('fonts/Ansungtangmyun-Bold.otf') format('opentype');
	font-weight: normal;
	font-style: normal;
}
@font-face {
	font-family: 'NotoSansKR-VariableFont_wght';
	src:url('fonts/NotoSansKR-VariableFont_wght.ttf') format('truetype');
	font-weight: normal;
	font-style: normal;
}
/*index.html*/
.body1{
	background-color:#F7810A;
}
.full-screen-link {
	display: flex;
	width: 100vw;
	height: 100vh;
	text-decoration: none;
	cursor: pointer;
	align-items: center; 
	padding-left: 10%;
}
.text-container {
	display: flex;
	flex-direction: column;
	gap: 30px;
}
.red1 {
	font-family: 'NotoSansKR-VariableFont_wght';
	font-size: 80px;
	color: #FDDBBA;
	margin: 0; 
	top:150px;
}

@media (max-width: 1024px) {
    .red1 {
        font-size: 50px;
    }
}
@media (max-width: 600px) {
    .red1 {
        font-size: 32px;
    }
}
/*home.html*/
.body2 {
	background-color: #EAE4DA;
}
.s4 .hover-text,
.s5 .hover-text2,
.s10 .hover-text3 {
	color: #ffffff; 
	font-family: 'NotoSansKR-VariableFont_wght', sans-serif;
	font-size: 28px; 
	font-weight: bold;
	
	opacity: 0; 
	transition: opacity 0.3s ease-in-out; 
}


.s4 {
	/*background-color: green;*/
	background-image: url('images/s4.jpg');
	background-size:cover;
	background-position: center;
	width:25%;
	height:34%;
	position:absolute;
	top:50%;
	left:5%;
}
.s5 {
	/*background-color:  #FFAD5C;*/
	background-image: url('images/s6-5.jpg');
	background-size:cover;
	background-position: center ;
	width:25%;
	height:34%;
	position:absolute;
	top:50%;
	left:38%;
}
.s10 {
	/*background-color: #C76C0A;*/
	background-image: url('images/s9-3.jpg');
	background-size:cover;
	background-position: center ;
	width:25%;
	height:34%;
	position:absolute;
	top:50%;
	right:5%;
}
.s11 {
	/*background-color: lightsalmon;*/
	width:25%;
	height:32%;
	position:absolute;
	bottom:0;
	left:50%;
}
.s12 {
	background-color: #c63f3e;
	width:25%;
	height:32%;
	position:absolute;
	bottom:0;
	left:75%;
	display: flex;
	align-items: center;     
	justify-content: center;  
	text-decoration: none;    
}
.an {
	font-family: 'Ansungtangmyun-Bold';
	color: #EB7E10;
	position: absolute;
	top: 10%;
	left: 2%;
	margin: 0;
	z-index: 10;
	line-height: 1;
	font-size: 170px;
	transform: translateY(-40%);
}

.sung {
	font-family: 'NotoSansKR-VariableFont_wght';
	color: #EB7E10;
	position: absolute;
	top: 20%;
	left: 18%;
	margin: 0;
	z-index: 10;
	line-height: 1;
	font-size: 130px;
}
.de {
	font-family: 'NotoSansKR-VariableFont_wght';
	color: #245E55;
	position: absolute;
	top: 36%;
	left: 53%;
	writing-mode: vertical-rl;
	line-height: 1;
	margin: 0;
	z-index: 10;
	font-size: 100px;
}
.va {
	font-family: 'NotoSansKR-VariableFont_wght';
	color: #245E55;
	position: absolute;
	top: 45%;
	left: 59%;
	writing-mode: vertical-rl;
	line-height: 1;
	margin: 0;
	z-index: 10;
	font-size: 150px;
}
@media (max-width: 1600px) {
	.an { font-size: 160px; }
	.sung { font-size: 105px; }
	.de { font-size: 85px; }
	.va { font-size: 125px; }
}
@media (max-width: 1440px) {
	.an { font-size: 130px; }
	.sung { font-size: 85px; }
	.de { font-size: 70px; }
	.va { font-size: 100px; }
}
@media (max-width: 1024px) {
	.an { font-size: 100px; }
	.sung { font-size: 65px; }
	.de { font-size: 50px; }
	.va { font-size: 75px; }
}
@media (max-width: 600px) {
	.an { font-size: 65px; }
	.sung { font-size: 40px; }
	.de { font-size: 35px; }
	.va { font-size: 45px; }
}
.s3 .hover-text,
.s6 .hover-text2,
.s12 .hover-text3 {
	color: #ffffff; 
	font-family: 'NotoSansKR-VariableFont_wght', sans-serif;
	font-size: 28px; 
	font-weight: bold;
	
	opacity: 0; 
	transition: opacity 0.3s ease-in-out; 
}

.s3:hover .hover-text,
.s6:hover .hover-text2,
.s12:hover .hover-text3 {
	opacity: 1; 
}
